# DuckDNS
DOMAIN=polmx.duckdns.org
DUCKDNS_SUBDOMAIN=polmx
DUCKDNS_TOKEN=61b1e133-f187-492d-b2af-

# Evolution API
EVOLUTION_API_KEY=reemplaza-por-una-clave-larga-aleatoria
EVOLUTION_INSTANCE=poc-whatsapp
POSTGRES_PASSWORD=reemplaza-esto-tambien

# Monday.com
MONDAY_API_TOKEN=
MONDAY_BOARD_ID=
MONDAY_PHONE_COLUMN_ID=
MONDAY_REPLY_COLUMN_ID=
MONDAY_SEND_COLUMN_ID=
